<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Ledger{% endtrans %}</title>
  <style type="text/css">
span
{
  font-size: 95%;
}

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #ledgertable1 td,#ledgertable2 td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  #ledgertable1 th,#ledgertable2 th {
      font-size: 85%;
    }

  .card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
  }
  #ledgertable1 tbody, #ledgertable2 tbody {
      display:block;
      height: calc(100vh - 16em);
      overflow-y:scroll;
  }
  #ledgertable1 thead ,#ledgertable1 tbody tr,#ledgertable2 thead ,#ledgertable2 tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  #ledgertable1 thead,#ledgertable2 thead {
      width: calc( 100% - 0.65em )
  }
  .ralign{
		text-align:right;

	}
	.cred{
		color:red;
	}
	.calign{
		text-align:center;
	}

  </style>
</head>
<body>
  <div class="alert alert-danger" id="ua-alert" hidden>

    <strong>{% trans %}Unauthorized to Lock/Unlock Transactions!{% endtrans %}</strong>
  </div>
  <input type="hidden" id="urole" name="urole" value="{{userrole}}"></input>
  <input type="hidden" id="financialstart" name="financialstart" value="{{ledgerrefresh2["financialstart"]}}"></input>
  <input type="hidden" id="backflag" name="backflag" value="{{ledgerrefresh2["backflag"]}}"></input>
  <input type="hidden" id="accountcode1" name="accountcode1" value="{{ledgerrefresh1["accountcode"]}}"></input>
  <input type="hidden" id="calculatefrom1" name="calculatefrom1" value="{{ledgerrefresh1["calculatefrom"]}}"></input>
  <input type="hidden" id="calculateto1" name="calculateto1" value="{{ledgerrefresh1["calculateto"]}}"></input>
  <input type="hidden" id="monthlyflag1" name="monthlyflag1" value="{{ledgerrefresh1["monthlyflag"]}}"></input>
  <input type="hidden" id="projectcode1" name="projectcode1" value="{{ledgerrefresh1["projectcode"]}}"></input>
  <input type="hidden" id="narrationflag1" name="narrationflag1" value="{{ledgerrefresh1["narrationflag"]}}"></input>
  <input type="hidden" id="projectname1" name="projectname1" value="{{ledgerrefresh1["projectname"]}}"></input>


  <input type="hidden" id="accountcode2" name="accountcode2" value="{{ledgerrefresh2["accountcode"]}}"></input>
  <input type="hidden" id="calculatefrom2" name="calculatefrom2" value="{{ledgerrefresh2["calculatefrom"]}}"></input>
  <input type="hidden" id="calculateto2" name="calculateto2" value="{{ledgerrefresh2["calculateto"]}}"></input>
  <input type="hidden" id="monthlyflag2" name="monthlyflag2" value="{{ledgerrefresh2["monthlyflag"]}}"></input>
  <input type="hidden" id="projectcode2" name="projectcode2" value="{{ledgerrefresh2["projectcode"]}}"></input>
  <input type="hidden" id="narrationflag2" name="narrationflag2" value="{{ledgerrefresh2["narrationflag"]}}"></input>
  <input type="hidden" id="projectname2" name="projectname2" value="{{ledgerrefresh2["projectname"]}}"></input>

  <div class="row">
    <div class="table-responsive col-md-6 ">

      <span class="pull-right" style="padding-right:15px"><i>{% trans %}Period{% endtrans %}</i> : <strong>{{ledgerheader1["calculatefrom"]}}</strong> <i>{% trans %}to{% endtrans %}</i> <strong>{{ledgerheader1["calculateto"]}}</strong></span>
      <span class="pull-left" style="margin:auto; display:table;"><i>{% trans %}Account{% endtrans %}</i> : <strong>{{ledgerheader1["accountname"]}}</strong></span><br>
      {% if ledgerheader1["projectname"]!="" %}
      <span class="pull-left" style="margin:auto; display:table;"><i>{% trans %}Project{% endtrans %}</i> : <strong>{{ledgerheader1["projectname"]}}</strong></span><br>
      {% elif ledgerheader2["projectname"]!="" %}
      <span class="pull-left" style="margin:auto; display:table;"><i>{% trans %}Project{% endtrans %}</i> : <strong>None</strong></span><br>
      {% endif %}
      <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;" id="llclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
      <table id="ledgertable1" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true">
        <thead class="bg-primary">
          <tr>
            <th class="col-xs-2">{% trans %}Date{% endtrans %}</th>
            <th class="col-xs-1" style="word-wrap: break-word;">{% trans %}V. No.{% endtrans %}</th>
            {% if ledgerheader1["projectname"]=="" %}
            <th class="col-xs-3">{% trans %}Particulars{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Debit{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Credit{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Balance{% endtrans %}</th>
            {% else %}
            <th class="col-xs-5">{% trans %}Particulars{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Debit{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Credit{% endtrans %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for record in records1 %}
          <tr  data-value="{{record['vouchercode']}}">
            <td class="col-xs-2">
              {{record['voucherdate']}}
            </td>
            {% if record['vouchernumber']=="" %}
            <td class="col-xs-1">
              <a class="vno1" href="#">&nbsp</a>
            </td>
            {% else %}
            <td class="col-xs-1">
              <a class="vno1" href="#">{{record['vouchernumber']}}</a>
            </td>
            {% endif %}
            {% if ledgerheader1["projectname"]=="" %}
            <td class="col-xs-3">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag1==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Cr"]}}
            </td>
            <td class="col-xs-2 ralign">
              {{record["balance"]}}
            </td>
            {% else %}
            <td class="col-xs-5">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag1==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Cr"]}}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div  class="table-responsive col-md-6 ">

      <span class="pull-right" style="padding-right:15px"><i>{% trans %}Period{% endtrans %}</i> : <strong>{{ledgerheader2["calculatefrom"]}}</strong> <i>{% trans %}to{% endtrans %}</i> <strong>{{ledgerheader2["calculateto"]}}</strong></span>
      <span class="pull-left" style="margin:auto; display:table;"><i>{% trans %}Account{% endtrans %}</i> : <strong>{{ledgerheader2["accountname"]}}</strong></span><br>
      {% if ledgerheader2["projectname"]!="" %}
      <span class="pull-left" style="margin:auto; display:table;"><i>{% trans %}Project{% endtrans %}</i> : <strong>{{ledgerheader2["projectname"]}}</strong></span><br>
      {% elif ledgerheader1["projectname"]!="" %}
      <span class="pull-left" style="margin:auto; display:table;"><i>{% trans %}Project{% endtrans %}</i> : <strong>None</strong></span><br>
      {% endif %}
      <button class="btn btn-sm btn-danger pull-right" type="button" style="margin-right: 15px;" id="lrclearfields">{% trans %}Clear Search{% endtrans %}<span class="glyphicon glyphicon-remove" style="margin-left: 5px;"></span></button>
      <table id="ledgertable2" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true">
        <thead class="bg-primary">
          <tr>
            <th class="col-xs-2">{% trans %}Date{% endtrans %}</th>
            <th class="col-xs-1" style="word-wrap: break-word;">{% trans %}V. No.{% endtrans %}</th>
            {% if ledgerheader2["projectname"]=="" %}
            <th class="col-xs-3">{% trans %}Particulars{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Debit{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Credit{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Balance{% endtrans %}</th>
            {% else %}
            <th class="col-xs-5">{% trans %}Particulars{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Debit{% endtrans %}</th>
            <th class="col-xs-2 ralign">{% trans %}Credit{% endtrans %}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for record in records2 %}
          <tr  data-value="{{record['vouchercode']}}">
            <td class="col-xs-2">
              {{record['voucherdate']}}
            </td>
            {% if record['vouchernumber']=="" %}
            <td class="col-xs-1">
              <a class="vno2" href="#">&nbsp</a>
            </td>
            {% else %}
            <td class="col-xs-1">
              <a class="vno2" href="#">{{record['vouchernumber']}}</a>
            </td>
            {% endif %}
            {% if ledgerheader2["projectname"]=="" %}
            <td class="col-xs-3">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag2==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Cr"]}}
            </td>
            <td class="col-xs-2 ralign">
              {{record["balance"]}}
            </td>
            {% else %}
            <td class="col-xs-5">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag2==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2 ralign">
              {{record["Cr"]}}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
  <span style="margin:auto; display:table;">
      <button class="btn btn-sm btn-danger" type="button" id="dlback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
    </span>
  </div>

  <div id="viewvc">
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/dualledgerreport.js')}}"></script>
</body>
</html>
