<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Edit Account{% endtrans %}</title>
<style media="screen">
.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
	font-size: 80%;
}

th {
	font-size: 70%;
}

.nopadding {
	 padding: 0 !important;
	 margin: 0 !important;
}
</style>
</head>
<body >
	<div class="container-fluid">
		<div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Account edited successfully.{% endtrans %}
		</div>

		<div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Account deleted successfully.{% endtrans %}
		</div>

		<div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Account could not be edited.{% endtrans %}
		</div>
		<div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Please enter account name!{% endtrans %}
		</div>

		<div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Account already exists!{% endtrans %}
		</div>

		<div class="alert alert-danger" id="transaction-alert"  aria-live="rude" role="alert" hidden>

			{% trans %}Account cannot be deleted!{% endtrans %}
			{% trans %}Transactions might be remaining for this account.{% endtrans %}
		</div>

		<div style="padding-top:15px" class="mainbox col-md-6">
			<div class="panel shadow" >
				<div class="panel-heading">
					<div class="panel-title">{% trans %}Edit Account{% endtrans %}</div>

				</div>

				<div style="padding-top:5px" class="panel-body" >

          <label for="editaccountname" id="accname">{% trans %}Account Name{% endtrans %} :</label>
          <select class = "form-control input-sm" id="editaccountname"  name = "editaccountname" >
            <option value="" disabled selected hidden>{% trans %}Select Account{% endtrans %}</option>
            {% for accs in gkresult %}
            <option value="{{accs['accountcode']}}">{{accs["accountname"]}}</option>
            {% endfor %}
          </select>
					<div class="alert alert-warning nopadding" id="alertmsg"  aria-live="rude" role="alert" hidden>
						<strong>{% trans %}This is a system generated account, cannot be edited/deleted.{% endtrans %}</strong>
					</div>
					<div class="alert alert-warning nopadding" id="accnamenoedit"  aria-live="rude" role="alert" hidden>
						<strong>{% trans %}Name of this system generated account cannot be edited.{% endtrans %}</strong>
					</div>
					<br>
					<form id="editaccountform" method="post"  action="editaccount" class="form-horizontal" hidden>

						<div style="margin-bottom: 5px" class="col-xs-12 from-group">
							<label for="groupname" id="gname">{% trans %}Group Name{% endtrans %} :</label>
							<input type="text" id="groupname" name="groupname" class="form-control input-sm" value=""></input>
							<br/>
							<label for="subgroupname" id="sname">{% trans %}Sub-Group Name{% endtrans %} :</label>
							<input type="text" id="subgroupname" name="subgroupname" class="form-control input-sm" value=""></input>
							</br>
							<label for="accountname" id="accname">{% trans %}<u>A</u>ccount Name{% endtrans %} :</label>
							<input type="text" id="accountname" class="form-control input-sm" name="accountname" accesskey="a"></input>
							</br>
							<label for="openingbal" id="openbal">{% trans %}<u>O</u>pening Balance{% endtrans %} :</label>
							<input type="text" id="openingbal" class="form-control input-sm" name="openingbal" style="text-align:right" accesskey="o"></input>
							</br>
							<input type="hidden" id="accountcode" class="form-control" name="accountcode" ></input>

							<button type="submit" class="btn btn-primary btn-sm" id="submit" name="submit" accesskey="s">{% trans %}<u>S</u>ave{% endtrans %}</button>
							<button id="reset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
							<button id="delete" class="btn btn-danger btn-sm" accesskey="d">{% trans %}<u>D</u>elete{% endtrans %}</button>
							<button id="edit" class="btn btn-danger btn-sm" accesskey="t">{% trans %}Edi<u>t</u>{% endtrans %}</button>

						</div>
					</form>
					<div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
						<div class="vertical-alignment-helper">
							<div class="modal-dialog modal-sm vertical-align-center">
								<div class="modal-content">
									<div class="modal-header">

										<h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
									</div>
									<div class="modal-body">
										<p>{% trans %}Are you sure?{% endtrans %}</p>
									</div>
									<div class="modal-footer">
										<button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
										<button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div>
					</div><!-- /.modal -->

				</div>
			</div>
		</div>



	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editaccount.js')}}"></script>
</body>
</html>
