<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Edit Organisation{% endtrans %}</title>
	<style media="screen">
	.shadow {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	table td {
		border-top: none !important;
	}
	</style>
</head>
<body >
	<div class="container-fluid">
		<div class="mainbox">

			<div class="panel shadow" >
				<div class="panel-heading">
					<div class="panel-title" style="text-align:center;">{% trans %}Edit Organisation{% endtrans %}</div>

				</div>

				<div style="padding-top:5px" class="panel-body" >
				</br>
				<div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

					<label for="viewledger_fromdate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
				</div>
				<div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

					{% trans %}Organisation Details edited successfully.{% endtrans %}
				</div>
				<div class="alert alert-danger" id="connectionfailed"  aria-live="rude" role="alert" hidden>

					{% trans %}Connection Failed.{% endtrans %}
				</div>

				<form id="editorganisationform" method="post" class="form-inline">
					<div class="col-xs-6 from-group" >
						<input type="text" id="orgtype" hidden value="{{gkresult["orgtype"]}}" style="width: 100%"></input>
						<table class="table">
							<tbody>

								<tr>
									{% if gkresult["orgtype"]=="Not For Profit" %}
									<td>
										<label for="registrationnumber" id="regno">{% trans %}Registration Number{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgregno" class="form-control input-sm" name="registrationnumber" value="{{gkresult["orgregno"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="fcrano" id="fcranumber">{% trans %}FCRA Registration Number{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgfcrano" class="form-control input-sm" name="fcranumber" value="{{gkresult["orgfcrano"]}}" style="width: 100%"></input>
									</td>
								</tr>
								{%endif%}
								<tr>
									<td>
										<label for="organisationaddress" id="orgaddress">{% trans %}Address{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgaddr" class="form-control input-sm" name="organisationaddress" value="{{gkresult["orgaddr"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationcountry" id="orgCountry">{% trans %}Country{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgcountry" class="form-control input-sm" name="organisationcountry" value="{{gkresult["orgcountry"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationstate" id="orgState">{% trans %}State{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgstate" class="form-control input-sm" name="organisationstate" value="{{gkresult["orgstate"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationcity" id="orgCity">{% trans %}City{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgcity" class="form-control input-sm" name="organisationcity" value="{{gkresult["orgcity"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationstaxnumber" id="orgstaxnumber">{% trans %}Service Tax Number{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgstax" class="form-control input-sm" name="organisationstaxnumber" value="{{gkresult["orgstax"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationpannumber" id="orgpanno">{% trans %}Permanent Account Number{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgpan" class="form-control input-sm" name="organisationpannumber" value="{{gkresult["orgpan"]}}" style="width: 100%"></input>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-6 from-group">
						<table class="table">
							<tbody>
								{% if gkresult["orgtype"]=="Not For Profit" %}
								<tr>
									<td>
										<label for="registrationdate">{% trans %}Date Of Registration{% endtrans %} :</label>
									</td>
									<td>
										<label class="sr-only" for="regday">{% trans %}Enter Registrtion Day{% endtrans %}</label>
										<input type="text"  id="regday" name="registrationday" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" value="{{gkresult["orgregdate"][8:10]}}"  style="width: 100%"> </input>

										<label class="sr-only" for="regmonth">{% trans %}Enter Registration Month{% endtrans %}</label>
										<input type="text" id="regmonth" name="registrationmonth" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" value="{{gkresult["orgregdate"][5:7]}}" style="width: 100%"></input>

										<label class="sr-only" for="regyear">{% trans %}Enter Registration Year{% endtrans %}</label>
										<input type="text" id="regyear" name="registrationyear" class="form-control regdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  value="{{gkresult["orgregdate"][0:4]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="registrationdate">{% trans %}Date Of FCRA Registration{% endtrans %} :</label>
									</td>
									<td>
										<label class="sr-only" for="fcraregday">{% trans %}Enter FCRA Registrtion Day{% endtrans %}</label>
										<input type="text" id="fcraregday" name="fcraregistrationday" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" value="{{gkresult["orgfcradate"][8:10]}}" style="width: 100%"></input>

										<label class="sr-only" for="fcraregmonth">{% trans %}Enter FCRA Registration Month{% endtrans %}</label>
										<input type="text" id="fcraregmonth" name="fcraregistrationmonth" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" value="{{gkresult["orgfcradate"][5:7]}}" style="width: 100%"></input>

										<label class="sr-only" for="fcraregyear">{% trans %}Enter FCRA Registration Year{% endtrans %}</label>
										<input type="text" id="fcraregyear" name="fcraregistrationyear" class="form-control regdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  value="{{gkresult["orgfcradate"][0:4]}}" style="width: 100%"></input>
										{%endif%}
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationemail" id="orgEmail">{% trans %}Email{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgemail" class="form-control input-sm" name="organisationemail" value="{{gkresult["orgemail"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="telephonenumber" id="telno">{% trans %}Telephone Number{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgtelno" class="form-control input-sm" size="11" maxlength="11" name="telephonenumber" value="{{gkresult["orgtelno"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationwebsite" id="orgWebsite">{% trans %}Website{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgwebsite" class="form-control input-sm" name="organisationwebsite" value="{{gkresult["orgwebsite"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationpincode" id="orgpostalcode">{% trans %}Postal Code{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgpincode" class="form-control input-sm" name="organisationpincode" value="{{gkresult["orgpincode"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationfax" id="orgfaxno">{% trans %}Fax Number{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgfax" class="form-control input-sm" name="organisationfaxnumber" value="{{gkresult["orgfax"]}}" style="width: 100%"></input>
									</td>
								</tr>
								<tr>
									<td>
										<label for="organisationmvat" id="orgvatno">{% trans %}VAT Number{% endtrans %} :</label>
									</td>
									<td>
										<input type="text" id="orgmvat" class="form-control input-sm" name="organisationmvat" value="{{gkresult["orgmvat"]}}" style="width: 100%"></input>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="container-fluid">
						<div class="col-xs-2 col-xs-offset-5">
							<button type="submit" class="btn btn-primary btn-sm" id="submit" name="submit" accesskey="s">{% trans %}<u>S</u>ave{% endtrans %}</button>
							<button id="reset" class="btn btn-warning btn-sm" accesskey="r">{% trans %}<u>R</u>eset{% endtrans %}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div style="padding-top:15px" class="mainbox col-md-2"></div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editorganisation.js')}}"></script>
</body>
</html>
