<!DOCTYPE HTML >
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
  <style>
  #subbutton{margin-top:2%}
  p{
    font-size: 1.1em;
  }
  .panel{
    border-color: rgb(87,93,99);
  }
  @media (max-width: 767px) {
    .mainbox {
      margin-top: 50px;
    }
  }
  </style>


</head>
<body>

    <div id="existingorg" class="mainbox">
      <div class="alert alert-danger" id="selorg-blank-alert" hidden>

        {% trans %}Please select organisation!{% endtrans %}
      </div>
      <div class="panel" >
        <div class="panel-heading">
          <div class="panel-title">{% trans %}Select Organisation{% endtrans %}</div>

        </div>

        <div style="padding-top:30px" class="panel-body" >



          <form id="orgform" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="org-name" id="orname">{% trans %}<u>O</u>rganisation Name{% endtrans %} :</label><br/>
              <select style="border-radius: 4px" class = "form-control col-xs-12" id="org-name"  name = "orgname" accesskey="o">
                <option value="" disabled selected hidden>{% trans %}Select Organisation{% endtrans %}</option>
                {% for orgs in gkresult %}
                <option value="{{orgs}}">{{orgs["orgname"]}} , {{orgs["orgtype"]}}</option>
                {% endfor %}
              </select>
            </div>

            <div style="margin-bottom: 45px" class="input-group col-xs-12">
              <label for="finalyears" id="orname">{% trans %}Select <u>F</u>inancial Year{% endtrans %} :</label><br/>
              <select style="border-radius: 4px" class = "form-control col-xs-12" id="finalyears" name="orgcode" accesskey="f">
                <option value="" disabled selected hidden>{% trans %}Select Financial Year{% endtrans %}</option>
              </select>
            </div>






            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <button id="callLogin" class="btn btn-success " accesskey="n"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 5px;"></span>{% trans %}<u>N</u>ext{% endtrans %}</button>

              </div>
            </div>

          </form>



        </div>
      </div>

    </div>

  <hr />
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/existingorg.js')}}"></script>
</body>

</html>
