<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
 td {
      font-size: 85%;
      padding: 4 !important;
      margin: 4 !important;
    }
 th {
      font-size: 85%;
  }
  .fixed-table tbody {
      display:block;
      height: 155px;
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.7em )
  }
  .nopadding{
    margin:0 !important;
    padding:0 !important;
  }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Transfer Note saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>

    <div class="panel shadow transfernote_panel">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please Enter Date{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="tnno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please Enter Transfer Note No.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Godown Must be Selected!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please select a product!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter quantity!{% endtrans %}</label>
          </div>
          <div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Transfer Note Cancelled{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="godown-same-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}From and To godown can not be same !{% endtrans %}</label>
          </div>
          <div class="alert alert-success" id="rec-confirm-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Transfer Note received {% endtrans %}</label>
          </div>

          <form>
            <div class="form-group">
              <label for="rec_tn_list">{% trans %}Transfer Note:{% endtrans %}</label>
              <select class="form-control input-sm " id="rec_tn_list" accesskey="">
                <option value="" disabled hidden selected>Select Transfer Note</option>
                {% for tn in transfernote %}
                <option value="{{tn['transfernoteid']}}">{{tn["transfernoteno"]}} , {{tn["transfernotedate"]}}</option>
                {% endfor %}>
              </select>
              <div class="alert alert-danger nopadding" id="cancelmsg" aria-live="rude" role="alert" hidden>
                <strong id="alertstrong">Transfer Note cancelled on  </strong>
              </div>
            </div>
            <div class="form-group hidden-load" hidden>
              <label >{% trans %}Transfer Note No:{% endtrans %}</label>  <label id="rec_transfernote_no"></label>
            </div>
            <div class="form-group hidden-load" hidden>
              <label >{% trans %}Date:{% endtrans %}</label> <label id="rec_transfernote_date"></label>

            </div>
            <div class="form-group hidden-load" hidden>
              <div class="panel">
                <table id="transfernote_product_table" class="table table-condensed table-borderd fixed-table">
                  <thead class="bg-primary">
                    <tr>
                      <th class="col-xs-9">{% trans %}Product{% endtrans %}</th>
                      <th class="col-xs-3">{% trans %}Quantity{% endtrans %}</th>

                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
            <div class="col-md-6" id="rec_transfernote_godown_div">
              <div class="form-group hidden-load" hidden>
                <label>{% trans %} Number Of Packets:{% endtrans %}</label> <label  id="rec_no_of_packet"></label>
              </div>

            <div class="form-group hidden-load" hidden>
              <label >{% trans %} From Godown:{% endtrans %}</label> <label id="rec_tn_from_godown"></label>
            </div>
            <div class="form-group hidden-load" hidden>
              <label >{% trans %} To Godown:{% endtrans %}</label> <label id="rec_tn_to_godown"></label>
            </div>
            <div class="form-group hidden-load" hidden>
              <label>{% trans %} Mode Of Transport:{% endtrans %}</label> <label  id="rec_transport_mode"></label>
            </div>

          <div class="form-group hidden-load" hidden>
            <label>{% trans %} Name Of Issuer:{% endtrans %}</label> <label  id="rec_name_issuer"></label>
          </div>
        <div class="form-group hidden-load" hidden>
          <label >{% trans %} Designation:{% endtrans %}</label> <label id="rec_designation"></label>
        </div>
        <div class="form-group hidden-load" hidden>
          <label >{% trans %} Status:{% endtrans %}</label> <label id="recstatus"></label>
        </div>
      </form>
      </div>
    </div>
      <div class="panel-footer hidden-load" hidden>
    <button id="rec_received" class="btn btn-primary btn-sm" >{% trans %}Received{% endtrans %}</button>
    <button id="rec_cancel" class="btn btn-danger btn-sm" >{% trans %}Cancel{% endtrans %}</button>
    <button id="tn_editprint" class="btn btn-primary btn-sm" >{% trans %}Print{% endtrans %}</button>
      </div>
    </div>
    <div id="confirm_yes" class="modal fade" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Received ?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="tn_no" class="btn btn-warning" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
              <button type="button" id="tn_yes" data-dismiss="modal" class="btn btn-success">{% trans %}Yes{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->

    <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
            </div>
            <div class="modal-body">
              <p>{% trans %}Are you sure?{% endtrans %}</p>
            </div>
            <div class="modal-footer">
              <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div><!-- /.modal -->

  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/receivedtransfernote.js')}}"></script>
</body>
